**/bin/
**/target/
#**/build/
**/other-modules/
**/sensorhub-driver-template/
**/sensorhub-test

**/processing/
**/.gradle/
**/.DStore
**/.DS_Store
**/.settings
**/.project
**/.classpath
**/.idea
**/*.iml
/storage/
/.moduledata/
/*.dat
*.json.bak.*